/target
/classes
/checkouts
/resources
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.iml
*.log
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

.idea/libraries/Leiningen__vvvvalvalval_scope_capture_0_3_2.xml
.idea/workspace.xml
.idea/shelf/
node_modules/
package.json
yarn.lock
