{:main basapp.core, :optimizations :none, :output-to "resources/public/js/app.js", :output-dir "resources/public/js/dev", :asset-path "js/dev", :source-map-timestamp true, :preloads [devtools.preload dirac.runtime.preload figwheel.connect], :external-config {:devtools/config {:features-to-install [:formatters :hints], :fn-symbol "F", :print-config-overrides true}, :figwheel/config {:on-jsload "basapp.core/reload", :build-id "dev", :websocket-url "ws://localhost:3449/figwheel-ws"}}}